/******************************************
 * CARDS
 ******************************************/
.card {
    /**** background fills */

    /**** background images */

    /**** border strokes */

    /**** border images */
}

.card-content.card-selected {
    /**** for Regions */
    -fx-border-color: derive( -cb-base, 75% );
    -fx-border-width: 3;
    /**** for Shapes */
    -fx-stroke: derive( -cb-base, 75% );
    -fx-stroke-width: 3;
}

.card-content {
    /**** for Shapes */
    -fx-stroke: derive( -cb-base, -30% );
    -fx-stroke-width: 2;
    -fx-fill: derive( -cb-base, 0% );

    /**** for Regions */
    -fx-border-color: derive( -cb-base, -30% );
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 6;

    -fx-background-color: derive( -cb-base, 0% );
    /* match radius value to that of -fx-border */
    -fx-background-radius: 6;

}

/* for titled card */
.card-content .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
