/******************************************
 * CONNECTORS
 ******************************************/

.connector {
    -fx-stroke: derive( -cb-base, 75% );
    -fx-stroke-width: 2;
}

.connector:hover {
    -fx-stroke: aqua;
}

.connector.connector-selected {
    -fx-stroke: red;
}

/* specific to LineConnectorWithArrow and BezierConnectorWithArrow */
.connector-arrow-head {
    -fx-stroke: derive( -cb-base, 75% );
    -fx-stroke-width: 2;
    -fx-fill: derive( -cb-base, 0% );
}
