@import url("base.css");
@import url("card.css");
@import url("pin.css");
@import url("connector.css");
@import url("drawing.css");

/******************************************
 * MISC
 ******************************************/

.mouse-box-selection {
    -fx-opacity: 0.4;
    -fx-fill: derive( lightgrey, 0% );
    -fx-stroke: darkslategrey;
    -fx-stroke-width: 1.0;
    -fx-stroke-line-cap: round;
}

.debug-region {
    -fx-border-color: red;
}
