/******************************************
 * DRAWING
 ******************************************/

.drawing-pane {
    -fx-border-color: #F7931D;
    -fx-border-width: 3;
    -fx-background-image: url("background.jpg");
}
