/******************************************
 * PINS
 ******************************************/

.pin-connector {
    -fx-fill: brown;
    -fx-stroke-width: 2;
}
.pin-connector:hover {
    -fx-fill: white;
}

